<div class="pt-3 pb-2 border-bottom">
  <h2>Adicionar Contato</h2>
</div>
<form [formGroup]="contatoForm" (ngSubmit)="submitForm()" novalidate>
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <!-- NOME -->
      <div class="row">
        <div class="col-md-12 mb-3">
          <label [ngClass]="{'text-danger': nome?.touched && nome?.invalid}"
          for="nome" ckass="form-label">Nome</label>
          <input
          [ngClass]="{'is-invalid': nome?.touched && nome?.invalid, 'is-valid': nome?.touched && nome?.valid}"
          type="text" id="nome" class="form-control" formControlName="nome" required>
          <div class="invalid-feedback"><sup>*</sup>Nome obrigatório</div>
        </div>
      </div>
      <!-- IDADE -->
      <div class="row">
        <div class="col-md-12 mb-3">
          <label
          [ngClass]="{'text-danger': idade?.touched && idade?.invalid}"
          for="idade" class="form-label">Idade</label>
        <input
          [ngClass]="{'is-invalid': idade?.touched && idade?.invalid, 'is-valid': idade?.touched && idade?.valid}"
          type="number"
          formControlName="idade"
          class="form-control"
          required
        />
        <!-- Validation FeedBack -->
        <div class="invalid-feedback"><sup>*</sup>Idade obrigatório</div>
        </div>
      </div>
      <!-- TELEFONE -->
      <div class="row">
        <div class="col-md-12 mb-3">
          <label
          [ngClass]="{'text-danger': telefone?.touched && telefone?.invalid}"
          for="telefone" class="form-label">Telefone:</label>
        <input
          [ngClass]="{'is-invalid': telefone?.touched && telefone?.invalid, 'is-valid': telefone?.touched && telefone?.valid}"
          type="text"
          formControlName="telefone"
          class="form-control"
          required
        />
        <!-- Validation FeedBack -->
        <div class="invalid-feedback"><sup>*</sup>Informe apenas números</div>
        </div>
      </div>
      <div class="form-group text-end">
        <button type="button" class="btn btn-secondary mx-2" (click)="resetForm()">Limpar</button>
        <button type="submit" class="btn btn-success mx-2" [disabled]="!contatoForm.valid">
          Adicionar Contato</button>
      </div>
    </div>
  </div>
</form>
