<div class="d-flex justify-content-between
            flex-wrap flex-md-nowrap align-items-center
            pt-3 pb-2 mb-3 border-bottom">
  <h2>Lista de Contatos</h2>
</div>
<div class="mx-auto">
  <!-- LOADER -->
  <div class="loaderWrapper" *ngIf="mostrarLoader">
    <div class="loader"></div>
  </div>
  <!-- CONTEUDO LISTA VAZIA -->
  <div class="text-center" *ngIf="listaVazia">
    <p>Nenhum contato adicionado ainda.</p>
    <a routerLink="/add-contato" class="btn btn-success">Adicionar Contato</a>
  </div>
  <!-- CONTEUDO NORMAL -->
  <div class="table-responsive" *ngIf="!listaVazia">
    <table class="table table-bordered">
      <thead>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Idade</th>
        <th scope="col">Telefone</th>
        <th scope="col" class="text-center">Editar</th>
      </thead>
      <tbody>
        <tr *ngFor="let contato of listaContato | paginate: { itemsPerPage: 8, currentPage: page};
                    let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{contato.nome}}</td>
          <td>{{contato.idade}}</td>
          <td>{{contato.telefone}}</td>
          <td class="text-center action-block">
            <span
              class="btn btn-outline-primary btn-sm"
              routerLink="/edit-contato/{{contato.$key}}">Editar</span>
            <span
              class="mx-2 btn btn-outline-danger btn-sm" (click)="deleteContato(contato)">Remover</span>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination-controls
      class="text-end"
      previousLabel="Anterior" nextLabel="Próximo"
      (pageChange)="page = $event"></pagination-controls>
  </div>

</div>
